@font-face {
  font-family: "ELAND_Choice_M";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
*,
button {
  font-family: "ELAND_Choice_M";
}

article {
  display: flex;
  flex-direction: column;
}

.question {
  display: none;
}

.result {
  display: none;
}

#img,
#main_img {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}
#your_smell {
  padding-top: 60px;
}

.start > h2,
#smell,
#re {
  font-weight: bold;
  color: rgb(77, 76, 76);
}

button {
  height: 90px;
}

#st {
  height: 50px;
}
#replay,
#copy_link {
  font-size: 15px;
  height: 40px;
  margin-inline: 5px;
  background-color: rgb(253, 253, 253);
  color: rgb(54, 53, 53);
}

#title {
  font-size: medium;
  font-weight: bolder;
}
#A,
#B {
  font-size: 14px;
  background-color: rgb(253, 253, 253);
  color: rgb(54, 53, 53);
}

#sub {
  font-weight: bold;
  font-size: 18px;
}
#modifier {
  padding-top: 20px;
}
.share {
  margin: 0 auto;
  padding-bottom: 15px;
}
#share {
  font-weight: bold;
}

.kakao_ad {
  width: 350px;
  margin: 0 auto;
}
